body{
  background-image: url('../images/space2.gif');
  /* background-size: 1366px 600px; */
}

#move{
  font-size: 3rem;
}

#monster{
  font-size: 2rem;
}

.laser{
  width: 40px;
height: 40px;
transform: rotate(135deg);
}

.spaceship{
  width: 40px;
height: 40px;
transform: rotate(-45deg);
padding-left: 10px;
}
