h1{
  text-align: center;
}
.square{
  width:200px;
  height:200px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.grid{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
  /* padding-left: 26%; */
  margin: auto;
}

.cross{
  background-image: url('../images/x.png');
  background-size: cover;
  font-size: 9rem;
}

.circle{
  background-image: url('../images/o.png');
  background-size: cover;
  font-size: 9rem;
}
